*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
:root {
  --col-black: #222831;
  --col-sec: #fce38a;
}

span {
  font-size: 72px;
  font-weight: 700;
}

.stopwatch-container {
  padding: 32px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  gap: 16px;
  /* border: 1px solid black; */
  background-color: var(--col-sec);
}
.stopwatch-display {
  background-color: var(--col-black);
  color: var(--col-sec);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 8px;
  transform: skewX(-4deg);
}

.button-container {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  justify-content: space-around;
  align-items: center;
}

button {
  border-radius: 16px;
  /* width: 72px; */
  height: 72px;
  text-align: center;
  color: white;
  font-weight: 700;
  border: 3px solid var(--col-black);
  cursor: pointer;
  transition: 0.2s;
  margin: 8px;
  box-shadow: 3px 3px 1px var(--col-black);
  width: 100%;
}
button:hover {
  transform: scale(1.1);
}

/* button:active {
  background-color: rgba(0, 0, 0, 0.155);
} */

.button-start {
  font-size: 16px;
  transform: skewX(-4deg);
}
.button-container .button-start {
  background-color: var(--col-sec);
  color: var(--col-black);
}
.button-stop {
  background-color: red;
}
.button-reset {
  background-color: orange;
}
.button-stop-reset-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.watchrounds {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.counter-display {
  padding: 0px 8px;
}
